
body{
      width: 100vw;
      height: 100%;
}
.reminder-wrapper{
      .reminder-title{
           text-align: center;
           font-size: 2.5em;
           font-family: "Concert One";
      }
      .upcoming-title{
            text-align: center;
            font-family: "Concert One";
      }
}